body{
    background-color: gray;  
    padding: 0;
    margin: 0;
}
.container{
    width: 240px;
    height: 270px;  
    background-color : white;
    border-radius: 10px;
    margin: 4% auto;
    margin:10px;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:5px;
    border: 0px;
    cursor: pointer;
    outline: none;
}
#back{
    position: absolute;
    border-radius: 50%;
    height: 25px;
    margin: 22px 0px 0px -22px;
    cursor: pointer;
    border: 0px;
    outline: none;
}
#input{
    width: 200px;
    position: relative;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px gray solid;
    height: 25px;
    padding-left: 3px;
    background-color: none;
    outline: none;
}
section{
    margin-left: 15px;
   
}